/* i set margin to 0 and a background img for my website and fix it then he dont move*/ 

*{
    margin: 0;
    background-image: url("../img/fondvergris.jpg");
    background-attachment: fixed;
}

/* i set the banner size, here 360px cuz i work for mobile only*/ 
#banner{
   width: 100vw;
   height: auto;
}

/* i set the size of products image in the first page*/ 
.foso{
    width: 100vw;
    max-height: auto;
}
/* i change the color of paragraph police to a light one cuz i prefer to use dark background*/ 
p{
    color:#cbccc6;
    font-size: 5vw;
}
/* change the color of the products paragraph and underline it */ 
#products
{
    color:#f0eddf;
    text-decoration: underline;
    font-size: 5vw;

}
/* i resized the twitter logo*/ 
.logors
{
    width:10vw;
    height: auto;
}
.logoz{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
}
/* i changed the link color cuz i work on dark background*/ 
a{
    color: #ccb8f5;

}
/* i changed the h2 & h3 color cuz i work on dark background*/ 
h2
{
    color:#dec1c5;
}
h3
{
    color:#dec1c5;
}
/* i resized the pictures on the about us*/
.foto{
    width: 40vw;
    height: auto;

}
/* i resized h4 police a bit smaller and change color because of dark background*/
h4
{
    color:#f0eddd;
    font-size: smaller;
}
/* i set to center the name of the member in the about us*/
.nom
{
    text-align: center;
    font-size: 5vw;
}
/* if set to center the foto of members*/
.centerfoto
{
   text-align: center;

}

/*i adjust the size of the price picture & i adjust the size of the plusd'infos pictures and moved it a bit*/
.plusinfos, .fotoprix
{
    width: 45vw;
    height: auto;


}
/*had flexbox for navigation menu */
.topmenu
{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-size: 4vw ;
}

h1, h2, h3, h4, h5,p{
    font-size: 5vw;
}
.achats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}