#banner{
   width: 360px;
   height: auto;
}
body{
    background-image: ("../img/fondvergris");
    background-attachment: fixed;

}

#foso{
    max-width: 260px;
    max-height: auto;
}
p{
    color:#cbccc6;
}
#products
{
    color:#f0eddf;
}
#logotwitter
{
    max-width:60px;
    max-height: auto;
}
a{
    color: #ccb8f5;
}
h2
{
    color:#dec1c5;
}
h3
{
    color:#dec1c5;
}